body {
  font-family: "Arial", sans-serif;
  background-image: url(https://cdn.pixabay.com/photo/2017/08/07/23/04/vintage-2608934_1280.jpg);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: tomato;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.input-container {
  text-align: center;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
}

#input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#displayText {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  background-color: transparent;
  color: sandybrown;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
