*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.title{
    border: 2px solid white;
}
.title h1,p{
    display: inline-block;
    font-size: 4rem;
    
}

.title p{
    color:#7fff00 ;
   
}

button{
    height: 7cqb;
    width: 120px;
    background-color: orange;
    align-items: center;
    border-radius: 5%;
}

.contant{
    display: flex;
    justify-content: center;
}